.md-typeset__table {
    min-width: 100%;
 }
 
 .md-typeset table:not([class]) {
     display: table;
 }

 table{
    width:100%;
}

.md-typeset h1{
  color: black;
  font-weight: 600;
}
.md-typeset h2 {
  /* font-weight: bold; */
  font-weight: 400;
}
.md-typeset h3 {
    font-weight: 600;
    color:grey;
  }
  .md-typeset h4 {
    font-weight: 600;
    color:grey;
  }
 